@import '~antd/lib/style/themes/default.less';
@import '../../utils/utils.less';

.background {
  width: 100%;
  height: 600px;
  background-image: url('../../assets/background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color:rgb(250,250,250); 
}

.tuli {
  width: 100%;
  height:100px;
  // background-color: rgba(250, 250, 250, 0.308);
}
